.theme-slider-container {
  margin-top: 0px !important;
}

.theme-text {
  color: #C0C0C0;
}

.dark-mode .navbar {
  background-color: #0e1111 !important;
}

.dark-mode {
  background-color: rgb(33, 37, 41);
  color: #a9a9a9;
}

.fakeimg {
  width: 200px;
  border-radius: 50%;
  border: 10px solid #838996;
}

.company-icon {
  width: 30px;
  height: 30px;
}

.button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 1);
}

.trans {
  transition: 0.5s;
}

.left-panel {
  padding: 0px;
}

.award {
  width: 475px;
  height: 350px;
  margin: 5px 0px 5px 0px;
}